body {
				font-family: Arial, sans-serif;
				max-width: 800px;
				margin: 0 auto;
				background-color: #FFF6D4;
			}
			h1, h2 {
				text-align: center;
				font-style: italic;
				color:  #007A00;
			}
			h2 {
				font-style: normal;
			}
			.image_placeholder {
				text-align: center;
			}
			table, td {
				margin: 0 auto;
				border: 1px solid black;
			}